html, body, div, p , span, a, table, tr, td, th, tbody, thead, tfoot, header, footer, main, aside,nav, section, article,h1,h2,h3,h4,h5,h6, ul,li,ol,img, form, textarea,input,button{
	margin:0;
	padding:0;
}

/* 
   ======= Body style ======== 
 */
   
body {
	background-image: url('../images/blog-pic.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}
	
.body {
	clear: both; 
	margin: 0 auto; 
	width: 80%;
}
	
/*
   ========= Headings ======== 
  */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/*
   ======= Anchor style ====== 
   */
a {
	outline: 0;
}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	color: #000;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

/*
   ===== Main Navigation ===== 
 */
   
.mainHeader nav {
	background: #000;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.mainHeader nav ul {
	list-style: none; 
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: right; 
	display: block; 
}
	
.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #fff;
	color: #000;
	text-shadow: none !important;
}
.mainHeader img {
	width: 10%;
	height: auto;
	margin: 3% 0;
}

/*
   ======= Content Area ====== 
   */

.mainContent {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

article {
	margin-bottom: 3%;
}

article.small-question{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
	margin-bottom: 3%;
}

article.small-question a {
    text-decoration: underline;
}
article.small-question header {
    line-height: 25px;
}
article.large-question h3 {
    margin-bottom: 0;
}
article.small-question h2 {
    margin-bottom: 0;
}
p.small-question-content {
    margin-top: 12px;
}
.small-question-category {
    float: right;
}
main.large-question > header{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;	
}

main > form {
	background-color: white;
	padding: 2.5%;
	border-radius: 5px;
	margin-left: 5%;
	width: 90%;
    margin-top: 20px;
}
main > form > button{
	width: 25%;
	background-color: lightskyblue;
	border: 1px solid lightslategray;
	display: block;
	padding: 1% !important;
	text-align: center;
	border-radius: 15px;
}

main > form > textarea{
	margin: 0px;
	height: 50px;
	padding: 0;
	width: 100%;
	border-radius: 5px;
}
main > ul{
	padding-left: 5%;
}

main > ul > li{
	background-color: #CEEFFD;
	padding: 20px;
	list-style: none;
	border-radius: 5px;
	margin-top: 20px;
}
main > ul > li>img.avatar-img{
	width:50px;
	height:50px;
}
main > ul > li> div{
	display:inline-block;
}

main > ul > li> div>*{
	display:inline-block;
}

.content {
	width: 68%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
    margin-left: 5px;
}
.post-info>* {
    margin-right: 5px;
}

main .category-title {
	padding: 5%;
	background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
}

#add-question{
    text-align: center;
}
#add-question input, #add-question textarea, button {
    margin: 0 auto;
    display: block;
}


/*
   ======== Sidebar ========== 
  */

aside {
	width: 24%;
	float: right;
    clear: right;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;
}

/* 
   ========= Footer ========== 
  */

.mainFooter {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #fff;	
}
aside p {
	padding: 5px;
}
.tag-event {
	word-break: break-all;
	display: inline-block;
}
.mainFooter p {
	width: 91%;
	margin: 2% auto;
}
